<h1><strong>Stupid Coaching</strong></h1>
<div class="box">
  <p><%= @question %></p>
  <p>-You</p>
</div>

<div class="box">
  <p><%= @answer %></p>
  <p>-Your coach</p>
</div>

<%= link_to 'Ask a new question', ask_path %>
