// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn {
  height: 35px;
  color: white;
  font-weight: bold;
  background: blue;
  border-radius: 4px;
}

.form {
  width: 500px;
  height: 30px;
  border-radius: 4px;
}

.box {
  border-left: solid 4px lightgrey;
}
